body {
    background-color: antiquewhite;
}

form {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 35px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.texxt {
    text-align: center;
}




h1 {

    font-size: 72px;

    font-family: serif;
    font-style: oblique;

    letter-spacing: 2px;
    background-color: yellowgreen;
    padding: 10px 20px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.buri-buri {
    width: 25%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}

.start {

    font-size: 72px;

    font-family: serif;
    font-style: oblique;

    letter-spacing: 2px;

    background-color: #f5f5dc;
    padding: 10px 20px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}

.image-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.image-item img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image-item img:hover {
    transform: scale(1.05);
}

.image-item p {
    margin-top: 8px;
    font-size: 14px;
    font-style: italic;
    color: #333;
    font-weight: bold;
}

.Personal {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f5f5dc;
    padding: 10px 20px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.damnn {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.web {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    text-align: center;
    background-color: #f5f5dc;
    padding: 10px 20px;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.website {
    display: block;
    margin: auto;
    max-width: 1000px;
}

.website iframe {
    width: 100%;
    height: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}